{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-3">
            <h1 class="text-center mb-4">Добавление номера</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                {% if f.name == 'photo' %}
                <p>
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    <br>
                    <img src="{{ f.value.url }}" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                    <br>
                    {{ f }}
                </p>
                {% else %}
                <div class="form-floating">
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <button class="btn btn-primary w-100 py-2" type="submit">Добавить номер</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}