{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-3">
            <h1>Регистрация</h1>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                {{ form.as_p }}
                <p><button type="submit" class="btn btn-primary">Регистрация</button></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}