{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- Bootstrap CSS и JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>


<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <!--Ссылки для клиента  -->
                <li><a href="{% url 'rooms' %}" class="nav-link px-2 text-white">Номера</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Цены</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Услуги</a></li>
                <li><a href="{% url 'table' %}" class="nav-link px-2 text-white">Контакты</a></li>
                <li><a href="{% url 'addroom' %}" class="nav-link px-2 text-white">Добавить номер</a></li>
                <li><a href="{% url 'room_list' %}" class="nav-link px-2 text-white">Редактирование номеров</a></li>

                <li><a href="reservation_room" class="nav-link px-2 text-white">Бронирование</a></li>

                <li><a href="#" class="nav-link px-2 text-white">Администратор</a></li>
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Объекты
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href=""></a>
                        <button class="dropdown-item" type="button">Дом 20</button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button">Дом 18</button>
                    </li>
                </ul>
            </div>
            </ul>



            <!-- Кнопки войти -->
            <div class="text-end" style="display: flex; gap: 10px;">
                {% if user.is_authenticated %}
                <!-- Кнопка профиля -->
                <a href="{% url 'users:profile' %}"><button type="submit" class="btn btn-info">{{ user.username }}</button></a>


                <form method="post" action="{% url 'users:logout' %}">
                    <!-- Кнопка выйти -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Выйти</button>
                </form>
                {% else %}

                <form method="post" action="{% url 'users:login' %}">
                    <!-- Кнопка профиля -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Войти</button>
                </form>

                <form method="post" action="{% url 'users:register' %}">
                    <!-- Кнопка регистрации -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Регистрация</button>
                </form>
                {% endif %}
                <!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
            </div>
            <!-- Кнопки войти -->

        </div>
    </div>
</header>


{% block content %}

{% endblock %}
</body>
</html>